<!DOCTYPE html>
<html>
<head><title>{% block title %}Glowna{% endblock%}</title></head>
<body>
{% block content %}
<ul>
    <li><a href="{% url 'glowna' %}">Główna</a></li>
    <li><a href="{% url 'glowna_klasowa' %}">Główna (klasowa)</a></li>
    <li><a href="{% url 'lista' %}">Lista</a></li>
    <li><a href="{% url 'lista_klasowa' %}">Lista (klasowa)</a></li>
    <li><a href="{% url 'lista_zalogowana' %}">Lista (user)</a></li>
    <li><a href="{% url 'szukaj' %}">Wyszukiwarka</a></li>
</ul>
{% endblock %}
<hr>
<a href="{% url 'poczatek' %}">Początek</a><br>
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% if user.is_authenticated %}
<p>{{ user.username }} <a href="{% url 'logout' %}">wyloguj</a></p>
{% else %}
<p><form action="{% url 'login' %}" method="POST">
    {% csrf_token %} 
    <input type="text" name="username">
    <input type="text" name="password">
    <input type="submit" value="Zaloguj">
</form>
{% endif %}

</body>
</html>
