{% extends 'glowna.html' %}
{% block title %}Szukaj{% endblock%}
{% block content %}
<ul>
    <form action="{% url 'szukaj' %}" method="get">
        <input type="text" name="zapytanie" value="{{zapytanie}}">
        <input type="submit">
    </form>
{% for pozycja in poz %}
<li> <a href="{% url 'szczegoly' pozycja.id %}">{{ pozycja.opis }}</a>
{% endfor %}
</ul>
{% endblock %}
